---
import FeaturedItem, { type FeaturedItemType } from './FeaturedItem.astro';

export interface Props {
  featuredItems: FeaturedItemType[];
  heading: string;
}

const { featuredItems, heading } = Astro.props;
---

<div class='relative border-b border-b-slate-200 py-10 sm:py-14'>
  <div class='container'>
    <h2
      class='text-md font-medium absolute -top-[17px] flex rounded-lg border border-slate-200 bg-white px-3 py-1 text-slate-600 sm:left-1/2 sm:-translate-x-1/2'
    >
      {heading}
    </h2>

    <ul class='grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-3'>
      {
        featuredItems.map((featuredItem) => (
          <li>
            <FeaturedItem
              text={featuredItem.text}
              url={featuredItem.url}
              isNew={featuredItem.isNew}
              isUpcoming={featuredItem.isUpcoming}
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>
